@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

/*
    WEB 2410 - Final Project
    By: Amber Jeffers
    Date: December 13, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* Section Header */
h2 {
    margin-left: 2rem;
    font-size: 2rem;
}

/* Button */
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    background-color: #733030;
    padding: .25rem 2rem;
    border: none;
    transition: all 0.5s;
    color: #D9C9BA;
    font-size: 2rem;
}

button a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #D9C9BA;
}

button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\219F';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Layout */
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0;
    font-family: 'Zen Antique', serif;
    background-color: #D9C9BA;
}

/* Navigation */
.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.spacing {
    flex: 1;
}

.navbar li {
    display: block;
    padding: 1rem 1rem;
    line-height: 2rem;
}

.navbar a {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: #733030;
    transition: font-size 0.3s ease-out;
}

.navbar a:hover {
    color: #5F734C;
    font-size: 2rem;
}

.navbar a::before {
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.navbar a:last-of-type {
    margin-right: 3rem;
}

/* Banner */
#banner {
    border: 4px solid #5F734C;
    background-color: #593831;
}

#banner h1 {
    text-align: center;
    color: #5F734C;
    font-size: 3rem;
}

#banner img {
    height: 400px;
    width: 400px;
    grid-area: i;
}

#banner p { 
    color: #D9C9BA;
    grid-area: p;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        ". p . i .";
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* Creator */
#creator p {
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: justify;
}

small {
    display: block;
    text-align: end;
    margin-right: 4rem;
}

small > a {
    color: #733030;
}

small > a:hover {
    color: #5F734C;
}
/* Books */
#books img {
    width: 400px;
    height: 600px;
}

.book-container {
    text-align: center;
    margin: 3rem;
}

/* Movies */
m1 { grid-area: m1; }
m2 { grid-area: m2; }
m3 { grid-area: m3; }
m4 { grid-area: m4; }
m5 { grid-area: m5; }
m6 { grid-area: m6; }

.movie-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "m1 m2"
        "m3 m4"
        "m5 m6";
    gap: 1rem;
    text-align: center;
}

#movies p {
    text-align: center;
    margin: 4rem;
}

#movies img {
    width: 700px;
    height: 500px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 2rem;
    color: #733030;
}


/* #8C6151; */